{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["> 1%"]
      },
      "useBuiltIns": true,
      "debug": true
    }],
    "react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "transform-class-properties",
    "transform-object-rest-spread"
  ]
}
