{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["> 1%"]
      },
      "modules": false,
      "useBuiltIns": true,
      "debug": false
    }],
    "react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "transform-class-properties",
    "transform-object-rest-spread"
  ],
  "env": {
    "test": {
      "presets": [
        "env",
        "react"
      ],
      "plugins": [
        "transform-class-properties",
        "transform-object-rest-spread"
      ]
    }
  }
}
