{
    "parser": "babel-eslint",
    "extends": [
      "airbnb-base",
      "plugin:react/all"
    ],
    "plugins": [
      "react"
    ],
    "env": {
      "es6": true
    },
    "parserOptions": {
      "ecmaFeatures": {
        "jsx": true
      },
      "sourceType": "module"
    },
    "rules": {
      "indent": [2, 2],
      "react/jsx-indent": [2, 2],
      "react/jsx-indent-props": [2, 2],
      "react/jsx-no-literals": 0,
      "react/jsx-sort-props": 0,
      "react/sort-prop-types": 0,
      "react/require-optimization": 0,
      "react/no-set-state": 0,
      "react/jsx-max-props-per-line": [2, { "when": "multiline" }],
      "import/extensions": 0,
      "import/no-unresolved": 0,
      "import/no-extraneous-dependencies": 0
    },
    "globals": {
      "React": false,
      "window": false,
      "document": false,
      "jest": false,
      "test": false,
      "describe": false,
      "beforeEach": false,
      "beforeAll": false,
      "afterEach": false,
      "it": false,
      "expect": false,
      "localStorage": false,
      "sessionStorage": false
    }
  }
